worker/obj/
worker/bin/
project-main.sln
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.*
terraform/crash.log
terraform/*.tfvars
terraform-gcp/.terraform/
terraform-gcp/terraform.tfstate
terraform-gcp/terraform.tfstate.*
terraform-gcp/crash.log
terraform-gcp/*.tfvars